.ds-dropdown {
    position: relative;
    width: fit-content;

    .header {
        cursor: pointer;
    }

    .body {
        @include z-index("space");

        position: absolute;
        width: fit-content;
        display: none;
        
        transform: translateY(10px);

        border-radius: 4px;
        box-shadow: $box-shadow;
        background-color: var(--mode);

        &--right {
            left: 0;
        }

        &--left {
            right: 0;
        }

        &.show {
            display: block;
        }
    }
}