@font-face {
    font-family: "Helvetica";
    src: url('./../../fonts/HelveticaNeue.woff') format("woff");
}

@font-face {
    font-family: "gibson-light";
    src: url('./../../fonts/GibsonLight.OTF') format("opentype");
}

@font-face {
    font-family: "gibson";
    src: url('./../../fonts/GibsonRegular.OTF') format("opentype");
}

@font-face {
    font-family: "gibson-bold";
    src: url('./../../fonts/GibsonBold.OTF') format("opentype");
}

@font-face {
    font-family: "gibson-semi-bold";
    src: url('./../../fonts/GibsonSemiBd.OTF') format("opentype");
}

@font-face {
    font-family: "unica-one";
    src: url('./../../fonts/UnicaOne-Regular.ttf') format("truetype");
}
