.#{$pre}-btn {
    min-width: 100px;
    height: 42px;
    padding: 0px 15px;
    border: none;
    border-radius: $radius;
    font-size: $medium;
    transition: all $animation;
    font-weight: $weight-bold;
    box-shadow: $box-shadow;

    cursor: pointer;
    text-transform: uppercase;

    &:disabled {
        cursor: not-allowed !important;
        color: var(--gray-200) !important;
        background-image: none !important;
        background-color: var(--gray-100) !important;

        &:hover {
            box-shadow: $box-shadow !important;
            transform: translateY(0px) !important;
        }
    }

    &._brand {
        background-image: var(--gradient-brand);
        color: var(--mode);

        &:hover {
            box-shadow: 0px 4px 5px var(--brand-50);
        }
    }

    &._accent {
        background-image: var(--gradient-accent);
        color: var(--mode);

        &:hover {
            box-shadow: 0px 4px 5px var(--accent-50);
        }
    }

    &._outline {
        color: var(--text);
        border: 1.5px solid var(--gray-200);
        background-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    &._fluid {
        width: 100%;
    }
}
