.#{$pre}-icon {
    &._brand {
        color: var(--brand);
    }

    &._accent {
        color: var(--accent);
    }

    &._mode {
        color: var(--mode);
    }

    &._text {
        color: var(--text);
    }

    &._gray {
        color: var(--gray-200);
    }
}
