.#{$pre}-icon {
    &._brand {
        color: var(--brand);
    }

    &._accent {
        color: var(--accent);
    }

    &._mode {
        color: var(--mode);
    }

    &._text {
        color: var(--text);
    }

    &._gray {
        color: var(--gray-300);
    }

    &._green {
        color: var(--green-200);
    }

    &._red {
        color: var(--red-200);
    }

    &._yellow {
        color: var(--yellow-200);
    }

    &._blue {
        color: var(--blue-200);
    }

    &._rotate {
        animation: rotation .9s infinite linear;
    }
}
