.signup-root {
    @include center;

    height: 100vh;

    @include for-tablet {
        display: block;
    }

    .content {
        width: 450px;
        padding: $distance;

        @include for-tablet {
            width: 100%;
        }

        .title {
            h1 {
                font-size: 48px;
            }

            p {
                font-size: $large;
                font-family: $font-light;
            }
        }

        .middle {
            .or {
                @include center;

                text-align: center;
                font-family: var(--font-family);

                p {
                    padding: 0px 10px;
                }

                .row {
                    width: 100%;
                    height: 1px;
                    padding: 0.5px;
                    background-color: var(--gray-200);
                }
            }
        }

        .create {
            @include center;

            p {
                margin-right: 5px;
            }
        }
    }
}
