@import "../main.scss";

:root {
    // ***************************************************** //
    // ************************LIGHT************************ //
    // ***************************************************** //

    // base
    --brand: #ff6869;
    --brand-opacity: #ff686857;

    --accent: #333333;
    --accent-opacity: #33333357;

    --mode: #ffffff;
    --background: #f4f7f9;
    --text: #303438;

    --gray-100: #edf0f4;
    --gray-200: #717579;
    --gray-300: #535D65;

    --red-100: #ef9a9a;
    --red-200: #e57373;
    --red-300: #ef5350;

    --green-100: #81c784;
    --green-200: #66bb6a;
    --green-300: #4caf50;

    --blue-100: #4fc3f7;
    --blue-200: #29b6f6;
    --blue-300: #03a9f4;

    --yellow-100: #ffee58;
    --yellow-200: #ffeb3b;
    --yellow-300: #fdd835;

     // Fonts
     --font-family: "gibson" !important;
     --font-family--light: "gibson-light" !important;
     --font-family--bold: "gibson-semi-bold" !important; 

    // **************************************************** //
    // ************************DARK************************ //
    // **************************************************** //

    &.dark {
        // base
        --brand: #333;
        --background: #112d33;

        --mode: #ffffff;
        --background: #f4f7f9;
        --text: #303438;
    }
}
